html {
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
    background-color: #6e6a5e;
  } 

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #d2f4f7;
  }
  
p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }

body {
  width: 600px;
  margin: 0 auto;
  background-color: #91b68f;
  padding: 0 20px 20px 20px;
  border: 5px solid #000000;
}

img {
  display: block;
  margin: 0 auto;
}